.active-page {
    background-color: lightslategray !important;
}
.spacing {
    margin-left: 1% !important;
    margin-bottom: 2% !important;
    margin-top: 2% !important;
}

.pagination {
    flex-wrap: wrap;
}